*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}
html {
  scroll-behavior: smooth;
}
@media (min-width: 768px) {
  .bg-roadtrip-none {
    background-image: none !important;
  }
}